.container{
    height:3rem;
    margin: 0;
    padding: 0;
}
h1{
    margin: 1em;
}
.mat-toolbar{
    width:100%;
    margin-top: 0;
    padding:0;
    position: fixed;
    z-index: 999;
}

ul{
     list-style: none;
     padding:0;
     margin:0;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    display:flex
}
.spacer{
    flex: 1 1 auto;
}
